<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有用户</title>
</head>
<body>

<form action="/agenda/create" method="post">
    <p>题目：<input type="text" name="title"/></p>
    <p>开始日期：<input type="text" name="starttime"/></p>
    <p>结束日期：<input type="text" name="endtime"/></p>
    <p>邀请1：<input type="text" name="participators"/></p>
    <p>邀请2：<input type="text" name="participators"/></p>
    <p>邀请3：<input type="text" name="participators"/></p>
    <p>邀请4：<input type="text" name="participators"/></p>
    <p>邀请5：<input type="text" name="participators"/></p>
    <p><input type="submit"/></p>
</form>




</body>
</html>